.quote {
    padding: 10px 15px;
    background: linear-gradient(to bottom, rgba(243,226,199,0.3) 0%,rgba(193,158,103,0.5) 100%);
    border: 2px solid Tan;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 180px;
}

.author {
    border-bottom: 1px solid tan;
    padding: 5px 0 10px;
}

.category {
    border-bottom: 1px solid tan;
    padding: 5px 0 10px;
    text-transform: capitalize;
}

.text {
    padding: 5px 0 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.more{
    padding: 12px 36px;
    color: saddlebrown;
    font-size: 18px;
    border-radius: 40px;
    background: linear-gradient(90deg,Tan,rgba(243,226,199,0.6));
    outline: none;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 42%;
    border: 1px solid tan;
    min-width: 200px;
}

.left {
    margin-left: 1px;
    min-width: 100px;
}

.more:active{
    box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 1);
}